/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
composer.lock
package-lock.json
frontend/package-lock.json
vuexy_bootstrap_vue_laravel_template.sql
readme.txt
vuexy_bootstrap_vue_laravel_template(20210908).sql
public/mix-manifest.json
